{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h1 class="text-center">{{type}} Page </h1>
        <form method="post">
            {% csrf_token %}
            <!-- {{ form | crispy }} -->
            {% for val in form %}
                {{val.label_tag}}
                {{val}}
       
                {{val.errors|striptags}}
                
                
            {% endfor %}
            <br>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
    </div>
{% endblock content %}