{% extends "base.html" %}
{% load static %}

{% block content %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">User Id</th>
          <th scope="col">ID</th>
          <th scope="col">Title</th>
          <th scope="col">Body</th>
        </tr>
      </thead>
      <tbody>

        {% for x in data %}
            <tr>
                <th scope="row">{{x.userId}}</th>
                <td>{{x.id}}</td>
                <td>{{x.title}}</td>
                <td>{{x.body}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

    <!-- http://127.0.0.1:8000/first/about/?page=4&name=andrew&age=19 -->
    <h1>{{id.name}}</h1>
    <h2>{{id.age}}</h2>

    <h1>This is inside APP</h1>
    <img src="{% static 'images/img2.jpg'%}" alt="meow" />

{% endblock %}
