<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} {% endblock %}
    
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.0.1/dist/tailwind.min.css">
</head>
<body class="bg-indigo-600 flex flex-col min-h-screen">

    {% include 'navbar.html' %}

    <main class="flex-grow">
        {% block body %}
        {% endblock %}
    </main>

    {% include 'footer.html' %}

</body>
</html>
